* {
    padding: 0;
    margin: 0;
}
.header {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgb(191, 181, 165);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 14, 9, 0.7);
    box-shadow: 0px 5px 5px 0px #080807;
}
.main-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr;
    gap: 15px;
    background-color: #b96d26;
}

.img-background {
    background: url('./images/cofee-jason-villanueva.jpg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-element {
    background-color: rgba(206, 218, 184, 0.7);
    width: 65vw;
    box-shadow: 0px 0px 10px 5px #080807;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: underline;
    padding: 10px;
}



.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.article-title{
    font-size: 2rem;
}
.article-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.article-image-left {
    grid-column: 1/2;
}

.article-image-right {
    grid-column: 2/3;
}

.article-text-left {
    grid-column: 1/2;
}

.article-text-right {
    grid-column: 2/3;
}